.win-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
.win-pos {
	position: relative;
}
.win-frame {
	width: 100%;
	height: 100%;
	position: absolute;
	box-shadow:
inset -1px -1px #404040,
inset 1px 1px #C0C0C0,
inset -2px -2px #808080,
inset 2px 2px #FFF,
inset -3px -3px #C0C0C0,
inset 3px 3px #C0C0C0;
	image-rendering:pixelated;
	background:
url("./wintitle.png") 3px 3px no-repeat,
linear-gradient(to bottom,#ADC6F7 21px,#C0C0C0 21px);
}
.win-header {
	top: 6px;
	left: 5px;
	height: 13px;
	width: calc(100% - 20px);
	position: relative;
	background-repeat: no-repeat;
}
.win-close {
	width: 16px;
	height: 14px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.win-close:after {
	background-image: url("../window/close.png?v=2");
}
.win-inner {
	margin: 22px 3px 3px 3px;
	width: calc(100% - 6px);
	height: calc(100% - 25px);
	position: absolute;
	background: local, url("./loading.png") top right repeat fixed, #191919;
}
.win-insetborder {
	box-shadow:
inset -1px -1px #FFF,
inset 1px 1px #808080,
inset -2px -2px #C0C0C0,
inset 2px 2px #000;
}
.win-button, .win-close {
	box-shadow:
inset -1px -1px #000,
inset 1px 1px white,
inset -2px -2px #808080,
inset 2px 2px #C0C0C0;
	background: #C0C0C0;
}
.win-button:active, .win-close:active {
	box-shadow:
inset 1px 1px #000,
inset -1px -1px #FFF,
inset 2px 2px #808080,
inset -2px -2px #C0C0C0;
}
.win-button:after, .win-close:after {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	display: block;
}
