<%- include('../partials/header',{title:"unplug"}) %>
		<style>
			body{background:none;}
			#mainimage {
				width: 522px;
				height: 370px;
				margin-top: calc(50vh - 185px);
				margin-left: calc(50vw - 261px);
				background-image: url("<%= assets %>/unplug/inner-main.png");
				display: block;
			}
		</style>
	</head>
	<body>
		<a id="mainimage" href="javascript:void(0)" title="begin" onClick="darken()" style="pointer-events: none"></a>
		<script>
			var op = 1;
			window.onload = function(){
				document.body.style.opacity = .25;
				setTimeout(brighten, 300);
			}
			function brighten()
			{
				if(op < 4)
				{
					setTimeout(brighten, 300);
					document.body.style.opacity = ((++op)*.25);
				} else {
					document.getElementById("mainimage").style.pointerEvents = null;
				}
			}
			function darken()
			{
				if(op > 0)
				{
					setTimeout(darken, 300);
					document.body.style.opacity = ((--op)*.25);
					document.getElementById("mainimage").style.pointerEvents = "none";
				} else {
					let remota = require('electron').remote;
					remota.getGlobal("mainWindow").show();
					remota.getCurrentWindow().close();
				}
			}
		</script>
<%- include('../partials/footer') %>