<%- include('../partials/header',{title:"100th"}) %>
		<style>
			body {
				display: flex;
			}
			#bg {
				background: url("<%= assets %>/queue.gif");
				position: absolute;
				width: 100vw;
				height: 100vh;
				z-index: -100;
				opacity: .9;
			}
			#txt {
				display: inline-block;
				margin: auto;
				background-color: black;
				padding: 20px;
			}
			#nmbr {
				color: black;
				background-color: #999;
				font-weight: bold;
				display: inline-block;
				min-width: .7em;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="bg"></div>
<div id="txt">This is the 100th page added to this site.<br/>
The site currently has <div id="nmbr"><%= Math.round(global.version*100) %></div> pages,<br/>
Although the line can get blurry.</div>
<%- include('../partials/footer') %>