<%- include('../partials/header',{title:"all tomorrows parties"}) %>
		<style>
			#mainimg {
				display: block;
				width: 663px;
				height: 556px;
				margin: calc(50vh - 278px) calc(50vw - 331px);
				background-image: url("<%= assets %>/alltomorrowsparties.jpg");
				background-size: cover;
				background-position: top right;
			}
		</style>
	</head>
	<body>
		<div id="mainimg" title="fun"></div>
<%- include('../partials/footer') %>
