<%- include('../partials/header',{title:"autobiography",color:"#0000aa"}) %>
		<style>
			body {
				display: flex;
				background-image: url("<%= assets %>/window/heavy-stars.png");
			}
			#text {
				overflow-y: auto;
				height: calc(40vh + 40vmin);
				width: calc(40vw + 40vmin);
				margin: auto;
				color: white;
				background: url("<%= assets %>/autobiography.png") top left no-repeat, #0000aa;
				padding-left: 16px;
				word-break: break-all;
				font-size: 16px;
				white-space: pre-wrap;
				tab-size: 4;
			}
			#title {
				font-weight: bold;
				color: #0000aa;
				background-color: white;
			}
			.inner {
				display: inline;
			}
			::-webkit-scrollbar-thumb {
				background-color: #fff;
				border: none;
				border-radius: 0px;
			}
			::-webkit-scrollbar {
				width: 3px;
				height: 3px;
			}
		</style>
	</head>
	<body>
		<div id="text"><div class="inner"></div><div class="inner" id="title"></div><div class="inner"></div></div>
		<script>
			//hello there.
			var txt = "<!DOCTYPE html>\n"+document.documentElement.outerHTML.replace("<head>","\n\t<head>").replace("<\/body>","\n\t<\/body>\n");
			var index = txt.indexOf("autobiography");
			var txtdiv = document.getElementById("text");
			var divs = txtdiv.children;
			var reader = 0;
			var onbottom = true;
			var selected = "█";
			divs[0].innerText = selected;
			var prevscrolltop = txtdiv.scrollTopMax;
			function update(){
				if(prevscrolltop != txtdiv.scrollHeight) {
					if(onbottom) txtdiv.scrollTop = txtdiv.scrollHeight;
					prevscrolltop = txtdiv.scrollHeight;
				} else onbottom = (txtdiv.scrollTop+txtdiv.clientHeight) == txtdiv.scrollHeight;

				if(reader < txt.length) {
					if(reader < index) divs[0].innerText = txt.substring(0,++reader) + selected;
					else if(reader < index+13) {
						divs[0].innerText = txt.substring(0,index);
						divs[1].innerText = txt.substring(index,++reader);
						divs[2].innerText = selected;
					} else divs[2].innerText = txt.substring(index+13,++reader) + selected;
					setTimeout(update,txt.charAt(reader) == "\n" ? 100 : 10);
				} else divs[2].innerText = txt.substring(index+13);
			};
			setTimeout(update,400);
		</script>
<%- include('../partials/footer') %>
