<%- include('../partials/header',{title:"discord"}) %>
		<style>
			body {
				display: flex;
			}
			#bg {
				background-image: url("<%= assets %>/discord/bg.png");
				width: 100vw;
				height: 100vh;
				position: fixed;
				opacity: .1;
				animation: background 16s 0s linear infinite;
			}
			#text{
				animation: vert 5s 0s ease-in-out infinite;
				width: 257px;
				height: 39px;
				background-image: url("<%= assets %>/discord/text.png");
				margin: auto;
				position: relative;
				z-index: 10;
			}
			@keyframes vert {
				0% {
					top: 2vw;
				}
				50% {
					top: -2vw;
				}
				100% {
					top: 2vw;
				}
			}
			@keyframes background {
				0% {
					background-position: 520px 0;
				}
				100% {
					background-position: 0 0;
				}
			}
		</style>
	</head>
	<body>
		<div id="bg"></div>
		<div id="text"></div>
<%- include('../partials/footer') %>
