<%- include('../partials/header',{title:"glow"}) %>
		<style>
			body {
				display: flex;
				background-image: url("<%= assets %>/window/light-stars.png");
			}

			.mainimagelink {
				margin: auto;
				width: 434px;
				height: 367px;
				background-image: url("<%= assets %>/glow.png");
			}

			.textish {
				bottom: 7px;
				right: 7px;
				font-size: 1.6em;
				position: fixed;
			}
		</style>
	</head>
	<body>
		<div class="mainimagelink"></div>
		<a class="textish" href="/countdown" title="countdown">can you see me in the dark</a>
<%- include('../partials/footer') %>
