<%- include('../partials/header',{title:"Headspace",description:"",color:"#5C8199",card:"summary_large_image",icontype:"x-icon",icon:"/headspace/favicon.ico",ogimage:assets + "/headspace/cover.png",css:false}) %>
		<style>
			canvas {
				position: absolute;
			}

			#gameContainer {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-position: center center !important;
				background-repeat: no-repeat !important;
				background-color: black;
			}

			.loading {
				background-image: url("<%= assets %>/headspace/bg.png") !important;
			}

			body {
				width: 100%;
				height: 100%;
				margin: 0;
				overflow: hidden;
			}

			html {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			#play {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 35px 0 35px 60.6px;
				border-color: transparent transparent transparent white;
				transition: .5s;
				transform-origin: 20px 35px;
			}
		</style>
	</head>
	<body>
		<div id="gameContainer"><a id="play" href="javascript:void(0)" onclick="play()"></a></div>
		<script src="<%= assets %>/unityloader.js"></script>
		<script>
			var button = document.getElementById("play");
			var direction = false;
			var angle = 0;
			var interval = false;

			var dt = null;
			function updateplay(timestamp) {
				if(!dt) dt = timestamp;
				let dtt = timestamp - dt;
				dt = timestamp;

				angle += dtt*.25*(direction?1:-1);
				button.style.transform = "rotate(" + angle + "deg)";

				if(interval) requestAnimationFrame(updateplay);
			}

			button.onmouseover = function() {
				direction = !direction;
				requestAnimationFrame(updateplay);
				interval = true;
			};
			button.onmouseout = function() {
				angle = Math.round(angle/120)*120 + (direction ? -240 : 240);
				button.style.transform = "rotate(" + angle + "deg)";
				interval = false;
			};

			function UnityProgress(unityInstance, progress){}
			function play()
			{
				button.style.display = "none";
				interval = false;
				document.getElementById("gameContainer").className = "loading";
				var unityInstance = UnityLoader.instantiate("gameContainer", "headspace/headspace.json", {onProgress: UnityProgress});
			}
		</script>
<%- include('../partials/footer') %>