<%- include('../partials/header',{title:"hugs"}) %>
		<style>
			.mainimage {
				width: 100vw;
				height: 100vh;
				background-image: url("<%= assets %>/hugs.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: block;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/00-01.png" width="150px"/>
		</div>
		<a class="mainimage" href="/weight" title="help"></a>
<%- include('../partials/footer') %>