<%- include('../partials/header',{title:"job"}) %>
		<style>
			body {
				background: url("<%= assets %>/job.png") 50px 250px;
			}
			#txt {
				background-color: black;
				position: fixed;
				bottom: 0;
				width: 100vw;
				color: #eee;
			}
		</style>
	</head>
	<body>
		<div id="bg"></div>
<div id="txt">Being harassed by an old lady for 8 hours for money.</div>
<%- include('../partials/footer') %>