<%- include('../partials/header',{title:"joke"}) %>
		<style>
			body {
				display: flex;
			}

			#bg {
				background-image: url("<%= assets %>/static.gif");
				width: 100vw;
				height: 100vh;
				position: absolute;
				opacity: 0.5;
			}

			.mainimage {
				margin: auto;
				z-index: 100;
			}
		</style>
	</head>

	<body>
		<div id="bg"></div>
		<div class="mainimage">
			i dont get the joke
		</div>
<%- include('../partials/footer') %>
