<%- include('../partials/header',{title:"lines",color:"#ffffff"}) %>
		<style>
			body{
				background-color: white;
			}

			#lines{
				display: block;
				width: 100vw;
				height: 100vh;
				background-image: url("<%= assets %>/lines.png");
				background-size: cover;
				background-position: top right;
			}
		</style>
	</head>
	<body>
		<a href="/traffic" id="lines" title="traffic"></a>
<%- include('../partials/footer') %>