<%- include('../partials/header',{title:"meta"}) %>
		<style>
			#mainimage {
				position: fixed;
				width: 300px;
				height: 80px;
				text-align: center;
				line-height: 80px;
				font-weight: bold;
				color: black;
				margin-left: -150px;
				margin-top: -40px;
				animation: anim 10s linear infinite;
				text-decoration: none;
				top: -300px;
				left: -300px;
			}

			body{
				background-image: url("<%= assets %>/meta.png");
				animation: nanim 5s linear infinite;
			}

			@keyframes nanim{
				0%{
					background-position: 0px 0;
				}
				100%{
					background-position: 100px 0;
				}
			}

			@keyframes anim{
				0%{
					background-color: #FF0000;
					transform: rotate(0deg);
				}
				17%{
					background-color: #FFFF00;
				}
				33%{
					background-color: #00FF00;
				}
				50%{
					background-color: #00FFFF;
				}
				67%{
					background-color: #0000FF;
				}
				83%{
					background-color: #FF00FF;
				}
				100%{
					background-color: #FF0000;
					transform: rotate(360deg);
				}
			}
		</style>
	</head>
	<body>
		<a id="mainimage" title="inception" href="/inception">
			lol, thats so meta
		</a>
		<script>
			if (window.top !== window.self)
				document.getElementById("mainimage").href = "/inception?ppp=" + Math.floor(Math.random()*10000);

			var sizex = 0, sizey = 0, speed = 0.166,
			x, y, directionX, directionY;
			var thng = document.getElementById("mainimage");
			resetPosition();
			hit();

			var dt = null;
			function timer(timestamp) {
				if(!dt) dt = timestamp;
				let dtt = timestamp - dt;
				dt = timestamp;

				thng.style.top = y + "px";
				thng.style.left = x + "px";

				let attempt = 0;
				while (x + directionX*dtt + sizex > window.innerWidth || x + directionX*dtt - sizex < 0 || y + directionY*dtt + sizey > window.innerHeight || y + directionY*dtt - sizey < 0)
				{
					hit();
					if(++attempt > 100){
						resetPosition();
						break;
					}
				}

				x += directionX*dtt;
				y += directionY*dtt;

				requestAnimationFrame(timer);
			}
			requestAnimationFrame(timer);

			function hit()
			{
				let dir = Math.random()*Math.PI*2;
				directionX = Math.sin(dir)*speed;
				directionY = Math.cos(dir)*speed;
			}

			function resetPosition()
			{
				x = Math.floor(Math.random()*(window.innerWidth - sizex));
				y = Math.floor(Math.random()*(window.innerHeight - sizey));
			}
		</script>
<%- include('../partials/footer') %>
