<%- include('../partials/header',{title:"myself, today",color:"#36393E"}) %>
		<style>
			body{
				background-color:#36393E;
				font-size: 1em;
				text-align: center;
				display: flex;
			}

			.mainimage {
				margin: auto;
			}

			.mainimagelink {
				margin: 0 auto;
				width: 61px;
				height: 18px;
				background-image: url("<%= assets %>/myself-today.png");
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div class="mainimage">
			<div class="mainimagelink"></div>
			<a href="/old-edgy-art" title="old edgy art">myself</a>, <a href="/space" title="space">today</a>
		</div>
<%- include('../partials/footer') %>
