<%- include('../partials/header',{title:"automatism"}) %>
		<style>
			body {
				display: flex;
			}
		</style>
	</head>
	<body>
		<div id="canvases-wrap">
I have to take this pill every morning. i dont remember why but i know there'll be something bad if i dont
		</div>
		<script type="text/javascript" src="<%= assets %>/automatism/simplex.js"></script>
		<script>
		</script>
<%- include('../partials/footer') %>
