<%- include('../partials/header',{title:"secret",color:"#6d807c"}) %>
		<style>
			body {
				background: #cebcac;
			}
			#txt {
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				position: fixed;
				background: url("<%= assets %>/secret.svg") no-repeat center;
				background-size: 80vmin;
			}
		</style>
	</head>
	<body>
		<div id="txt"></div>
		<div id="teapotcanvas"></div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/threejs/r78/three.min.js"></script>
		<script type="text/javascript">
			var isdesktop = true;
			window.addEventListener('touchstart', function onFirstTouch() {
				isdesktop = false;
				window.removeEventListener('touchstart', onFirstTouch, false);
			}, false);

			var utahcontainer = document.getElementById("teapotcanvas");
			var scene = new THREE.Scene();
			scene.background = new THREE.Color(0xcebcac);
			var camera = new THREE.PerspectiveCamera(30,2,0.1,1000);
			var renderer = new THREE.WebGLRenderer({antialias:false});
			var width, height;
			window.onresize = redraw;
			function redraw() {
				width = window.innerWidth;
				height = window.innerHeight;
				renderer.setSize(width, height);
				camera.aspect = 1.15*(width/height);
				camera.updateProjectionMatrix();
			}
			redraw();
			renderer.stencil = false;
			renderer.depth = false;
			renderer.premultipliedAlpha = false;
			renderer.precision = "lowp";

			camera.position.set(6.24413, 5.60956, 10.5715);
			camera.rotation.set(-0.487, 0.48, 0.2294);

			var material = new THREE.MeshBasicMaterial({color:0x6d807c,wireframe:true});
			var teapot;
			loader = new THREE.ObjectLoader();
			loader.load("/pot.json", function(obj) {
				obj.material = material;
				scene.add(obj);
				teapot = obj;
			});

			var rotx = 0, roty = 0;
			function animate() {
				if(scene.children.length >= 1)
					teapot.rotation.set(
						teapot.rotation.x*.8 + rotx*.2,
						teapot.rotation.y*.8 + roty*.2, 0);

				requestAnimationFrame(animate);
				renderer.render(scene, camera);
			}
			animate();

			utahcontainer.appendChild(renderer.domElement);

			window.onmousemove = function(e) {
				if(scene.children.length === 0) return;

				let offset = utahcontainer.getBoundingClientRect();
				rotx = (e.pageY - height*.5)*.001;
				roty = (e.pageX - width*.5)*.001;
			}

		</script>
<%- include('../partials/footer') %>
