<%- include('../partials/header',{title:"selection"}) %>
		<style>
			body {
				display: flex;
				animation: bgc 60s linear -30s infinite normal;
			}
			@keyframes bgc {
				0% { background-color: #bd6080; }
				17% { background-color: #e09080; }
				33% { background-color: #909585; }
				50% { background-color: #80a0c0; }
				67% { background-color: #8060bd; }
				83% { background-color: #bd70bd; }
				100% { background-color: #bd6080; }
			}
			.bgs, #vbg, #shape {
				position: fixed;
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
			}
			.bgs {
				z-index: -100;
				background: url("<%= assets %>/selection/bg.png");
				background-size: 2458px;
				mix-blend-mode: difference;
			}
			#rbg {
				animation:
					bgx 26.918s linear -21.924s infinite normal,
					bgy 116.28s linear -104.92s infinite normal;
			}
			#gbg {
				filter: hue-rotate(120deg);
				animation:
					bgx 46.621s linear -8.7861s infinite normal,
					bgy 111.11s linear -57.834s infinite reverse;
			}
			#bbg {
				filter: hue-rotate(240deg);
				animation:
					bgx 29.851s linear -8.4541s infinite reverse,
					bgy 181.82s linear -133.35s infinite reverse;
			}
			@keyframes bgx {
				from { background-position-x: 0; }
				to { background-position-x: 2458px; }
			}
			@keyframes bgy {
				from { background-position-y: 0; }
				to { background-position-y: 2458px; }
			}
			#vbg {
				z-index: -50;
				background: radial-gradient(circle,#999 0%,#666 100%);
				mix-blend-mode: soft-light;
			}

			#shape {
				background: url("<%= assets %>/selection/shape.png") center no-repeat;
				z-index: -25;
			}
			#form {
				margin: auto;
				text-align: center;
			}
			#title {
				font-size: 25px;
				margin-bottom: 11px;
				color: #aaa;
			}

			#contents {
				position: relative;
				animation-duration: .3s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
			.in {
				animation-name: animin;
				animation-timing-function: ease-out;
			}
			.out {
				animation-name: animout;
				animation-timing-function: ease-in;
			}
			@keyframes animin {
				from {
					left: -50px;
					opacity: 0;
				}
				to {
					left: 0px;
					opacity: 1;
				}
			}
			@keyframes animout {
				from {
					left: 0px;
					opacity: 1;
				}
				to {
					left: 50px;
					opacity: 0;
				}
			}

			#label {
				display: inline-block;
				font-size: 20px;
				font-weight: bold;
				color: #888;
			}
			#combobox {
				display: inline-block;
				border: none;
				border-radius: 5px;
				background-color: gray;
				color: black;
				padding: 1px;
				width: 90px;
				font-family: "FreeMono", "Courier New", monospace;
				font-weight: bold;
				font-size: 15px;
			}
			option {
				background: black;
				color: #999;
			}
		</style>
	</head>
	<body>
		<div class="bgs" id="rbg"></div>
		<div class="bgs" id="gbg"></div>
		<div class="bgs" id="bbg"></div>
		<div id="vbg"></div>
		<div id="shape"></div>
		<div id="form">
			<div id="title">Please fill the form accurately.</div>
			<div id="contents" onanimationend="switcharoo()">
				<div id="label"></div>
				<select id="combobox" onchange="nextquestion()">
					<option hidden value="empty"></option>
					<option class="optn" value="1"></option>
					<option class="optn" value="2"></option>
					<option class="optn" value="3"></option>
					<option class="optn" value="4"></option>
					<option class="optn" value="5"></option>
				</select>
			</div>
		</div>
		<script>
			var questions = [{
				label: "First name:",
				options: ["John","Michael","Emma","Lauren","Brian"]
			},{
				label: "Last name:",
				options: ["Smith","Williams","Brown","Davis"]
			},{
				label: "Gender:",
				options: ["Male","Female"]
			},{
				label: "Country:",
				options: ["Britain","Florida","Mexico","Argentina","Australia"]
			},{
				label: "Phone number:",
				options: ["05-632935","03-263174","09-326362","09-734165","07-733416"]
			},{
				label: "Favorite color:",
				options: ["Blue","Green","Yellow","Purple","Orange"]
			},{
				label: "Age:",
				options: ["14","21","52","37"]
			},{
				label: "Favorite Food:",
				options: ["Salad","Sandwich","Apple"]
			},{
				label: "Pet name:",
				options: ["Oscar","Roxy","Buddy"]
			},{
				label: "Preferred pasta shape:",
				options: ["Penne","Ravioli","Fusilli","Farfalle","Rigatoni"]
			}];

			var q = 0;
			var contents = document.getElementById("contents");
			var label = document.getElementById("label");
			var combobox = document.getElementById("combobox");
			var optn = document.getElementsByClassName("optn");

			function nextquestion() {
				contents.className = "out";
				contents.style.pointerEvents = "none";
			}
			function switcharoo() {
				if(contents.className === "in") {
					contents.style.pointerEvents = null;
				} else {
					contents.className = "in";
					q = (q+1)%questions.length;
					setq();
				}
			}
			function setq() {
				combobox.value = "empty";
				label.innerText = questions[q].label;
				for(var i = 0; i < optn.length; i++) {
					optn[i].hidden = i >= questions[q].options.length
					if(!optn[i].hidden)
						optn[i].innerText = questions[q].options[i];
				}
			}
			setq();
		</script>
<%- include('../partials/footer') %>
