<%- include('../partials/header',{title:"space",color:"#36393E"}) %>
		<style>
			body{
				background-color:#36393E;
				display: flex;
			}

			.mainimage {
				margin: auto;
				max-width:542px;
			}

			.mainimagelink {
				width: 542px;
				height: 98px;
				background-image: url("<%= assets %>/space.png");
				display: block;
			}
		</style>
	</head>
	<body>
		<div class="mainimage">
			<a class="mainimagelink" title="knowledge" href="/knowledge"></a>
			<br/>
			messages from outer space
			<br/>
			satellites. <a title="stock market man" href="/stock-market-man">what do they want from me?</a>
		</div>
<%- include('../partials/footer') %>