<%- include('../partials/header',{title:"symbolism"}) %>
		<style>
			.mainimage {
				margin-top: calc(50vh - 134px);
				margin-left: calc(50vw - 236px);
				display: block;
				width: 472px;
				height: 268px;
				background-image: url("<%= assets %>/symbolism.png");
			}
		</style>
	</head>
	<body>
		<a class="mainimage" title="weeeee" href="/weeeee"></a>
<%- include('../partials/footer') %>