<%- include('../partials/header',{title:"todo"}) %>
		<style>
			.mainimage {
				height: 100vh;
				margin: 0 calc(50vw - 28vh);
				position: absolute;
			}

			.lankkk{
				display: block;
				position: absolute;
				width: 44vh;
				height: 8.3vh;
				margin: 70vh calc(50vw - 25vh);
			}
		</style>
	</head>
	<body>
		<img src="<%= assets %>/todo.png" class="mainimage">
		<a class="lankkk" href="/photography" title="photography"></a>
<%- include('../partials/footer') %>