<%- include('../partials/header',{title:"weight"}) %>
		<style>
			.mainimage {
				margin: calc(50vh - 264px) auto;
				display: block;
				width: 320px;
				height: 518px;
				background-image: url("<%= assets %>/weight.png");
			}
		</style>
	</head>
	<body>
		<a class="mainimage" href="/hugs"></a>
<%- include('../partials/footer') %>