<%- include('../partials/header',{title:"worthy",color:"#FF0000"}) %>
		<style>
			#heart {
				font-size: 8vmin;
				position: fixed;
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<div id="heart">❤️</div>
		<script>
			var heart = document.getElementById("heart");
			var touched = false;
			let heartbox = heart.getBoundingClientRect();
			var pos;
			var lerpos = [heartbox.height*-.5,heartbox.width*-.5];
			heart.style.top = "calc(50vh + " + lerpos[0] + "px)";
			heart.style.left = "calc(50vw + " + lerpos[1] + "px)";

			window.onresize = function() {
				if(touched) return;
				let heartbox = heart.getBoundingClientRect();
				heart.style.top = "calc(50vh - " + (heartbox.height*.5) + "px)";
				heart.style.left = "calc(50vw - " + (heartbox.width*.5) + "px)";
			}

			document.onmousemove = function(e) {
				let heartbox = heart.getBoundingClientRect();
				let heartpos = [heartbox.left + (heartbox.width*.5), heartbox.top + (heartbox.height*.5)];
				let dist = Math.pow(heartpos[0] - e.pageX,2) + Math.pow(heartpos[1] - e.pageY,2);
				//8000
				if(dist <= 40000) {
					dist = Math.sqrt(dist);
					let angle = Math.atan2(heartpos[0] - e.pageX,heartpos[1] - e.pageY);
					pos = [
						heartbox.top - window.innerHeight*.5 + (Math.cos(angle)*(200 - dist)),
						heartbox.left - window.innerWidth*.5 + (Math.sin(angle)*(200 - dist))];
					if(touched == false) setInterval(lerpify, 20);
					touched = true;
				}
			}

			function lerpify() {
					lerpos = [
						lerpos[0]*.9 + pos[0]*.1,
						lerpos[1]*.9 + pos[1]*.1];
					heart.style.top = "calc(50vh + " + lerpos[0] + "px)";
					heart.style.left = "calc(50vw + " + lerpos[1] + "px)";
			}
		</script>
<%- include('../partials/footer') %>
