<%- include('../partials/header',{title:"worthy",color:"#FF0000"}) %>
		<style>
			#fc {
				font-size: 8vmin;
				position: fixed;
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<div id="fc">😒</div>
		<script>
			var fc = document.getElementById("fc");
			var touched = false;
			let fcbox = fc.getBoundingClientRect();
			var pos;
			var lerpos = [fcbox.height*-.5,fcbox.width*-.5];
			fc.style.top = "calc(50vh + " + lerpos[0] + "px)";
			fc.style.left = "calc(50vw + " + lerpos[1] + "px)";

			window.onresize = function() {
				if(touched) return;
				let fcbox = fc.getBoundingClientRect();
				fc.style.top = "calc(50vh - " + (fcbox.height*.5) + "px)";
				fc.style.left = "calc(50vw - " + (fcbox.width*.5) + "px)";
			}

			document.onmousemove = function(e) {
				let fcbox = fc.getBoundingClientRect();
				let fcpos = [fcbox.left + (fcbox.width*.5), fcbox.top + (fcbox.height*.5)];
				let dist = Math.pow(fcpos[0] - e.pageX,2) + Math.pow(fcpos[1] - e.pageY,2);
				//8000
				if(dist <= 40000) {
					dist = Math.sqrt(dist);
					let angle = Math.atan2(fcpos[0] - e.pageX,fcpos[1] - e.pageY);
					pos = [
						fcbox.top - window.innerHeight*.5 + (Math.cos(angle)*(200 - dist)),
						fcbox.left - window.innerWidth*.5 + (Math.sin(angle)*(200 - dist))];
					if(touched == false) window.requestAnimationFrame(lerpify);
					touched = true;
				}
			}

			var dt = null;
			function lerpify(timestamp) {
					if(!dt) dt = timestamp;
					let dtt = timestamp - dt;
					dt = timestamp;

					lerpos = [
						lerpos[0]*(1-(dtt*.003)) + pos[0]*.003*dtt,
						lerpos[1]*(1-(dtt*.003)) + pos[1]*.003*dtt];
					fc.style.top = "calc(50vh + " + lerpos[0] + "px)";
					fc.style.left = "calc(50vw + " + lerpos[1] + "px)";

					window.requestAnimationFrame(lerpify);
			}
		</script>
<%- include('../partials/footer') %>
