	</head>
	<body>
		<div id="wrap">
			<video id="video" autoplay controls>
				<source src="<%= assets + "/automatism/art/" + data.contents %>" type="video/mp4">
			</video>
<%-			include('description')
%>		</div>
		<script>
			function recalc() {
				let picwidth = <%= data.width %>;
				let picheight = <%= data.height %>;
				let scale = Math.min(window.innerWidth*.9/picwidth,window.innerHeight*.9/picheight,1);
				let div = document.getElementById("video");
				div.style.width = (picwidth*scale)+"px";
				div.style.height = (picheight*scale)+"px";
			}
			recalc();
			window.addEventListener("resize",recalc);
		</script>
