#about {
	background: url("text.png") no-repeat, url("bg.png") fixed, #175843;
	color: #123629;
	text-shadow: 3px 3px #B76673;
	min-height: 0;
}
#about .desc {
	border: solid 2px #123629;
	margin: 5px 7vw 220px auto;
	padding-bottom: 50px;
}
#note {
	background: url("note.gif");
	bottom: 3px;
	right: -4px;
	height: 100px;
	width: 100px;
}

#comingsoon {
	min-height: 150px;
	background: url("more.png") no-repeat center center, url("bg.png") fixed, #175843;
	background-size: auto!important;
	animation: bgc 60s linear 0s infinite normal;
	flex-grow: 1;
	will-change: auto;
}

@media only screen and (max-width: 1000px) {
	#about .desc {
		margin-bottom: 19vw;
	}
}
@media only screen and (max-width: 650px) {
	#about .desc {
		margin-left: auto;
		margin-right: auto;
	}
}
