<%- include('../partials/header',{title:"bye"}) %>
		<style>
			body, html {
				background: none;
			}

			#canva {
				position: absolute;
				top: 0;
				left: 0;
			}
		</style>
	</head>
	<body>
		<img id="bg" src="<%= assets %>/bye/fakery.png" style="display: none;"></div>
		<img id="bye" src="<%= assets %>/bye/bye.png" style="display: none;"></div>
		<canvas id="canva"></canvas>
		<script>
			var canvas = document.getElementById("canva");
			var ctx = canvas.getContext("2d");
			var bg = document.getElementById("bg");
			var bye = document.getElementById("bye");

			function redraw()
			{
				canvas.width = window.innerWidth;
				canvas.height = window.innerHeight;
				var hw = Math.round(canvas.width*.5);
				var hh = Math.round(canvas.height*.5);
				ctx.drawImage(bg, hw - 153, hh - 163);
				for (x = -125; x < Math.min(hw, hh + 3); x += 40)
					ctx.drawImage(bye, x + hw, x + hh + 3);
			}

			var remota = require('electron').remote;
			var win = remota.getCurrentWindow();
			var op = 1;

			window.onload = function(){
				win.setOpacity(.25);
				setTimeout(brighten, 300);
				redraw();
			}
			function brighten()
			{
				if(op < 4)
				{
					setTimeout(brighten, 300);
					op++;
					win.setOpacity(op*.25);
				}
				else setTimeout(darken, 1500);
			}
			function darken()
			{
				if(op > 0)
				{
					setTimeout(darken, 300);
					op--;
					win.setOpacity(op*.25);
				}
				else win.close();
			}
		</script>
<%- include('../partials/footer') %>
