#win-browser {
	font-size: 0;
}
.win-frame {
	background:
url("../window/wintitle.png") 3px 3px no-repeat,
linear-gradient(to bottom,#ADC6F7 21px,#D6D6CE 21px,#D6D6CE 22px,transparent 22px), #C0C0C0;
}
#win-dragbar {
	position: absolute;
	height: 18px;
	width: calc(100% - 6px);
	top: 3px;
	left: 3px;
}
#win-header {
	font-family: tahoma8bold, Tahoma, sans-serif;
	font-weight: 500;
	font-size: 16px;
	position: absolute;
	top: 5px;
	left: 6px;
	-webkit-font-smoothing : none;
	font-smooth: never;
	color: #D6D6CE;
}
#win-browser .win-inner {
	width: calc(100% - 10px);
	height: calc(100% - 29px);
	padding: 2px;
}
#win-topbar {
	height: 22px;
	margin-bottom: 2px;
	image-rendering: pixelated;
}
.win-button {
	width: 22px;
	height: 22px;
	padding: 0;
	margin-right: 2px;
	background: #C0C0C0;
	border-width: 1px;
	border-style: solid;
	border-color: white black black white;
}
.win-button:active {
	border-color: black white white black;
}
#win-back .win-icon {
	background-image: url("back.png");
}
.win-off#win-back .win-icon {
	background-image: url("backoff.png");
}
#win-front .win-icon {
	background-image: url("front.png");
}
.win-off#win-front .win-icon {
	background-image: url("frontoff.png");
}
.win-off {
	pointer-events: none;
}
.win-icon {
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	background-position: center center;
	background-repeat: no-repeat;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #808080;
}
.win-icon:active {
	border-width: 1px 0 0 1px;
}
.win-insetborder1 {
	border-width: 1px;
	border-style: solid;
	border-color: #808080 white white #808080;
}
.win-insetborder2 {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: black;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
#win-adress {
	top: -5.5px;
	position: relative;
	display: inline-block;
	padding: 0;
	height: 20px;
	width: calc(100% - 94px);
}
#win-adress-inner {
	height: calc(100% - 4px)!important;
	direction: ltr!important;
}
#win-rainbow {
	background-image: url("glitch.png");
	position: absolute;
	z-index: 1;
	height: 15px;
	left: 92px;
	top: 5px;
	max-width: calc(100% - 148px);
	pointer-events: none;
	image-rendering: pixelated;
}
#win-go .win-icon {
	background-image: url("go.png");
}
.win-off#win-go .win-icon {
	opacity: .5;
}
#win-go {
	width: 42px;
	margin-right: 0;
	margin-left: 2px;
}
#win-innerbrowser {
	width: calc(100% - 2px);
	height: calc(100% - 26px);
}
#win-iframe {
	background-color: white;
}

@font-face {
	font-family: 'tahoma8bold';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	-webkit-font-smoothing : none;
	font-smooth: never;
	src: url("../window/tahoma8bold.woff2") format('woff2');
}