#win-browser {
	font-size: 0;
}
#win-dragbar {
	position: absolute;
	height: 18px;
	width: calc(100% - 6px);
	top: 3px;
	left: 3px;
}
#win-header {
	font-family: tahoma8bold, Tahoma, sans-serif;
	font-weight: 500;
	font-size: 16px;
	position: absolute;
	top: 5px;
	left: 6px;
	-webkit-font-smoothing : none;
	font-smooth: never;
	color: #C0C0C0;
}
#win-browser .win-inner {
	width: calc(100% - 10px);
	height: calc(100% - 29px);
	padding: 2px;
}
.win-inner {
	background: none;
}
#win-topbar {
	height: 22px;
	margin-bottom: 2px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.win-button {
	width: 22px;
	height: 22px;
	padding: 0;
	margin-right: 2px;
	display: inline-block;
}
#win-back:after {
	background-image: url("back.png");
}
.win-off#win-back:after {
	background-image: url("backoff.png");
}
#win-front:after {
	background-image: url("front.png");
}
.win-off#win-front:after {
	background-image: url("frontoff.png");
}
.win-off {
	pointer-events: none;
}
#win-adress {
	top: -6.5px;
	position: relative;
	display: inline-block;
	padding: 0;
	padding-left: 2px;
	height: 22px;
	width: calc(100% - 94px);
	direction: ltr!important;
	border: 0;
}
#win-rainbow {
	background-image: url("glitch.png");
	position: absolute;
	z-index: 1;
	height: 15px;
	left: 92px;
	top: 5px;
	max-width: calc(100% - 148px);
	pointer-events: none;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
#win-go:after {
	background-image: url("go.png");
}
.win-off#win-go:after {
	opacity: .5;
}
#win-go {
	width: 42px;
	margin-right: 0;
	margin-left: 2px;
}
#win-iframe {
	width: calc(100% - 4px);
	height: calc(100% - 28px);
	background-color: white;
	border: 0;
	padding: 2px;
}

@font-face {
	font-family: 'tahoma8bold';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	-webkit-font-smoothing : none;
	font-smooth: never;
	src: url("../window/tahoma8bold.woff2") format('woff2');
}