<%- include('../partials/header',{title:"head"}) %>
		<style>
			.head{
				display: block;
				width: 569px;
				height: 517px;
				margin: calc(50vh - 268px) calc(50vw - 295px);
				background-image: url("<%= assets %>/head.gif");
				background-size: cover;
				background-position: top right;
				border: solid white 10px;
			}
		</style>
	</head>
	<body>
		<a class="head" href="/hands" title="hands"></a>
<%- include('../partials/footer') %>
