<%- include('../partials/header',{title:"message"}) %>
		<style>
			body {
				overflow-y: auto;
				margin-top: -3px;
			}

			.comment{
				font-style: italic;
				font-weight: bold;
				font-size: 30px;
				padding: 42px;
				border-top: 3px solid #aaa;
				width: 50vw;
				text-align: center;
				margin: auto;
				overflow-wrap: break-word;
			}

			#closed {
				width: 100vw;
				height: calc(100vh - 64px);
				background-image: url("<%= assets %>/message.png");
				background-repeat: no-repeat;
				background-position: center center;
			}
		</style>
	</head>
	<body>
		<div style="display: none">
.
.
.
.
.
-------------------FOR ANY HACKERS OF SORTS-------------------
		please dont abuse the system!!
		my defences are weak...
		please dont make me freeze this comment section
		much love
.
.
.
.
.
		</div>
		<div id="closed"></div>
		<%- include('../partials/comments') %>
<%- include('../partials/footer') %>