<%- include('../partials/header',{title:"never",color:"#32363B"}) %>
		<style>
			body {
				background-color:#32363B;
			}

			.mainimage {
				margin-top: calc(50vh - 260px);
				margin-left: calc(50vw - 49px);
				display: block;
				width: 98px;
				height: 520px;
				background-image: url("<%= assets %>/never.png");
			}
		</style>
	</head>
	<body>
		<a class="mainimage" title="paper" href="/paper"></a>
<%- include('../partials/footer') %>