<%- include('../partials/header',{title:"new",color:"#FFFFFF"}) %>
		<style>
			body {
				background-color: white;
			}

			#link{
				background-image: url("<%= assets %>/new.png");
				position: absolute;
				top: 2vw;
				left: 2vw;
				width: 296px;
				height: 223px;
			}
		</style>
	</head>
	<body>
		<a href="/rediger" title="rediger" id="link"></a>
<%- include('../partials/footer') %>