<%- include('../partials/header',{title:"paper"}) %>
		<style>
			body{
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<a href="/cherry"><img src="<%= assets %>/paper.png" title="cherry"/></a>
<%- include('../partials/footer') %>