<%- include('../partials/header',{title:"square"}) %>
		<style>
			body{
				background-image: url("<%= assets %>/square.png");
				background-size: contain;
				background-position: bottom left;
				background-repeat: no-repeat;
			}

			#sqr{
				display: block;
				margin: 38% 18%;
				width: 46%;
				height: 46%;
			}

			#wrap{
				width: 100vw;
				height: 100vw;
				max-width: 100vh;
				max-height: 100vh;
				bottom: 0;
				position: absolute;
			}
		</style>
	</head>
	<body>
		<div id="wrap">
			<a id="sqr" href="/todo" title="todo"></a>
		</div>
<%- include('../partials/footer') %>