		<div class="section" id="clickbox">
			<div class="tint" style="background-color: #9b0057"></div>
			<div class="center">
				<div class="desc">
					<div class="win-pos">
						<div class="win-frame">
							<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
						</div>
						<div class="win-inner"></div>
					</div>
					<div class="invert"></div>
					<a href="/clickbox" class="title">ClickBox</a>
					<div class="subtitle">a compact click generating VST</div>
					<div class="description">
generates randomized digital clicks<br/>
made after people complained i fixed the annoying clicking issue in my first vst, plastic funeral (why??)<br/>
<br/>
great for creative sound design, and useful as a vca controller for other parameters and side-chaining (fruity peak controller for fl users)<br/>
otherwise, not that useful<br/>
<a class="demo" href="javascript:void(0);" onclick='popup(3, "ClickBox credits:@brMade by Ari Hanan (@a1https://unplug.red/@a2unplugred@a3)")'>Credits</a>
<br/>
<br/>
Cost: +0$<br/>
Available for both windows and linux
					</div>
					<a class="download" href="https://shop.unplug.red/b/GI9s7"></a>
					<div class="decoration" id="bear"></div>
				</div>
			</div>
		</div>
