		<div class="section" id="plastic-funeral">
			<div class="tint" style="background-color: #1d1d1d"></div>
			<div class="center">
				<div class="desc">
					<div class="win-pos">
						<div class="win-frame">
							<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
						</div>
						<div class="win-inner"></div>
					</div>
					<div class="invert"></div>
					<a href="/plastic-funeral" class="title">Plastic Funeral</a>
					<div class="subtitle">Distortion/saturation that sounds like a laser beam</div>
					<div class="description">
forget about warmth.<br/>
this distortion gives off a harsh and metallic sound with an FM vibe that is guaranteed to destroy any mix.<br/>
(sounds real phat and juicy on bass)<br/>
<a class="demo" href="javascript:void(0);">Demo 1</a>
<a class="demo" href="javascript:void(0);">Demo 2</a>
<a class="demo" href="javascript:void(0);">Demo 3</a>
<br/>
<br/>
Cost: +0$;
					</div>
					<a class="download" href="javascript:void(0);"></a>
					<div class="decoration" id="rose"></div>
				</div>
			</div>
		</div>
