		<div class="section" id="plastic-funeral">
			<div class="tint" style="background-color: #1d1d1d"></div>
			<div class="center">
				<div class="desc">
					<div class="win-pos">
						<div class="win-frame">
							<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
						</div>
						<div class="win-inner"></div>
					</div>
					<div class="invert"></div>
					<a href="/plastic-funeral" class="title">Plastic Funeral</a>
					<div class="subtitle">Distortion/saturation that sounds like a laser beam</div>
					<div class="description">
forget about warmth.<br/>
this distortion gives off a harsh and metallic sound with an FM vibe that is guaranteed to destroy any mix.<br/>
(sounds real phat and juicy on bass)<br/>
<a class="demo" href="javascript:void(0);" onclick='popup_audio(1, "<%= assets %>/pf/demo1.mp3", "Demo made by @a1https://soundcloud.com/the_real_astrodex@a2Astrodex@a3.")'>Demo 1</a>
<a class="demo" href="javascript:void(0);" onclick='popup(3, "Plastic Funeral credits:@brMade by Ari Hanan (@a1https://unplug.red/@a2unplugred@a3)@brThanks to @a1https://laulaulau.bandcamp.com/@a2lau@a3 for creating the factory presets as well as providing quite a bit of help.@brThanks to @a1https://marina-magnolia.tumblr.com/@a2Marina Magnolia Venegas@a3 for doing testing and QA.")'>Credits</a>
<br/>
<br/>
Cost: +0$<br/>
Available for both windows and linux
					</div>
					<a class="download" href="https://shop.unplug.red/b/wGlzc"></a>
					<div class="decoration" id="rose"></div>
				</div>
			</div>
		</div>
