<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=StyleSheet href="<%= assets %>/stylesheet.css" type="text/css" media=screen>
		<style>
			html, body {
				background: url(/bgsmol.webp) 5px 0;
			}
			#whitegradient {
				width: 100vw;
				background: linear-gradient(to left, #fff, transparent);
			}
			#left {
				font-size: 12vw;
				padding: 0;
				overflow: visible;
				direction: ltr;
				transform: rotatez(-90deg) scaleX(1.4);
				transform-origin: top left;
				position: fixed;
				bottom: -55px;
				left: 12px;
				width: calc(100vh - 107px);
			}
			.lefttitle {
				line-height: .7;
				margin-bottom: 0;
			}
			.lefticon {
				margin-right: 0;
			}
			#dots {
				right: 0;
				left: auto;
			}
			#pluginlogo {
				animation: none;
				top: 2vh;
			}
			#pluginlogo * {
				background-position: 9% top;
				background-size: 350%;
				width: 100%;
			}
			.pf #left {
				left: 10px;
			}
			.pf .lefticon {
				margin-right: -3px;
			}
			.vu #left {
				left: 3px;
			}
			.vu #pluginlogo * {
				background-position: 43% top;
				background-size: 89%;
			}
			.cb .lefticon{
				margin-right: -9px;
			}
			.cb #left {
				left: 10px;
			}
			.cb #pluginlogo * {
				background-position: 38% top;
				background-size: 250%;
			}
			.ps #left {
				left: 3px;
			}
			.ps #pluginlogo * {
				background-position: 4% top;
				background-size: 250%;
			}
			.pnch #left {
				left: 7px;
				bottom: -50px;
			}
			.pnch #pluginlogo * {
				background-position: 69% top;
				background-size: 130%;
			}
			.mp #left {
				left: 7px;
				bottom: -50px;
			}
			.mp #pluginlogo * {
				background-position: 15% top;
				background-size: 160%;
			}
			.rb #left {
				left: 3px;
			}
			.rb #pluginlogo * {
				background-position: 92% top;
				background-size: 250%;
			}
			.crmbl #left {
				left: 8px;
			}
			.crmbl #pluginlogo * {
				background-position: 82% top;
				background-size: 150%;
			}
			.prsm #left {
				left: 5px;
			}
			.prsm .lefticon{
				margin-right: 2px;
			}
			.prsm #pluginlogo * {
				background-position: 29% top;
				background-size: 350%;
			}
			.sb #pluginlogo * {
				background-size: 124%;
			}
			.sb #left {
				bottom: -52px;
				left: 10px;
			}
			.sb .lefticon{
				margin-right: 1px;
			}
			.bndl #pluginlogo * {
				background-position: 28% top;
			}
			.bndl #left {
				bottom: -57px;
				left: 10px;
			}
		</style>
	</head>
	<body>
		<div id="bg">
			<svg id="diagonal">
				<line x1='0' y1='100%' x2='100%' y2='0'/>
				<line x1='0' y1='0' x2='100%' y2='100%'/>
			</svg>
			<div id="circle"></div>
			<div id="whitegradient"></div>
			<div id="rainbow"></div>
			<div id="dots">
				<div id="dotc" class="dot"></div><div id="doty" class="dot"></div><div id="dotm" class="dot"></div><div id="dotk" class="dot"></div>
			</div>
		</div>

		<div id="content">
			<div id="right" class="section">
				<a id="left" class="leftitem lefthover leftselected" href="javascript:void(0)">
					<div class="leftiteminner lefticonitem">
						<div class="lefticon"></div>
						<div class="leftiteminnerinner">
							<div class="lefttitle"></div>
						</div>
					</div>
				</a>
				<div id="pluginlogo"><div id="pluginlogo1"></div></div>
			<div>
		</div>

		<script type="text/javascript" src="/vsts.js"></script>
		<script>
			var i = -1;
			for(let m = 0; m < vsts.length; m++) {
				if(location.pathname.toLowerCase().endsWith(vsts[m].title.replace(/\s/g,"").toLowerCase())) {
					i = m;
					break;
				}
			}
			if(i !== -1) {
				document.getElementsByClassName("lefticon")[0].style.backgroundImage = "url(/"+vsts[i].id+"/icon.svg)";
				document.getElementsByClassName("lefttitle")[0].innerText = vsts[i].title;
				document.getElementsByClassName("leftiteminner")[0].className += " " + vsts[i].color;
				document.body.className = vsts[i].id;
				document.getElementById("pluginlogo1").style.backgroundImage = "url(/"+vsts[i].id+"/text.webp)";
				document.getElementById("rainbow").style.backgroundPositionY = (String)((i*-300)/vsts.length)+"vh";
				document.title = vsts[i].title;
			}
		</script>
	</body>
</html>
