#pisstortion {
	background: url("text.png") no-repeat, url("bg.png") fixed, #bbb479;
	text-shadow: 3px 3px #1d1e23;
	color: #d9d9d9;
}
#pisstortion .win-pos {
	width: 248px;
	height: 487px;
	position: absolute;
	top: calc(50% - 248px);
	left: -124px;
}
#pisstortion .win-inner {
	background-image: url("ui.png");
}
#pisstortion .desc {
	border: solid 2px #1d1e23;
	padding-left: 132px;
}
#piss {
	background: url("gif.gif") no-repeat top center;
	bottom: -40px;
	right: -20px;
	height: 300px;
	width: 94px;
}
@media only screen and (max-width: 650px) {
	#pisstortion .desc {
		padding-left: 20px;
		padding-top: 400px;
		margin-top: 110px;
	}
	#pisstortion .win-pos {
		margin-left: calc(50% - 124px);
		left: 0;
		top: -100;
	}
}
@media only screen and (max-width: 270px) {
	#pisstortion .desc {
		padding-top: 20px;
		margin-top: 0;
	}
}
