RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 400 /404.shtml
ErrorDocument 401 /404.shtml
ErrorDocument 403 /404.shtml
ErrorDocument 404 /404.shtml
ErrorDocument 500 /404.shtml

DirectoryIndex index.php

SetEnv SERVER_ADMIN AriHanan@Protonmail.com