		<script>console.log('%c ','background:url("<%= assets %>/window/logo.png") no-repeat 1px 2px;line-height:52px;padding:0px 76px;font-size:0;',"\nUnplug v<%= global.version %>");</script>
	</body>
</html>