#plastic-funeral {
	background: url("textold.png") no-repeat, url("bg.png") fixed, #fff;
	text-shadow: 3px 3px #1d1d1d;
}
#plastic-funeral .win-pos {
	width: 248px;
	height: 487px;
	position: absolute;
	top: calc(50% - 248px);
	left: -124px;
}
#plastic-funeral .win-inner {
	background-image: url("ui.webp");
}
#plastic-funeral .desc {
	border: solid 2px #000;
	padding-left: 132px;
}
#rose {
	background: url("gif.webp") no-repeat top center;
	bottom: 0;
	right: 10px;
	height: calc(100% + 20px);
	width: 90px;
	max-height: 380px;
}
@media only screen and (max-width: 650px) {
	#plastic-funeral .desc {
		padding-left: 20px;
		padding-top: 400px;
		margin-top: 110px;
	}
	#plastic-funeral .win-pos {
		margin-left: calc(50% - 124px);
		left: 0;
		top: -100;
	}
}
@media only screen and (max-width: 270px) {
	#plastic-funeral .desc {
		padding-top: 20px;
		margin-top: 0;
	}
}
