*{
	cursor: url("/assets/cursors/default.png") 0 0, default;
}

a{
	cursor: url("/assets/cursors/pointer.png") 6 0, pointer;
}

::selection {
	color: #333;
	background: #999999fe;
}

::-moz-selection {
	color: #333;
	background: #999999fe;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: #999;
	border: 3px black solid;
	border-radius: 6px;
	outline: none;
}

html,body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

	overflow-y: hidden;
	overflow-x: hidden;
}

body{
	background-color:black;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: unset;
	font-smoothing: unset;
	font-size: 1.5em;
	font-family: Courier New, monospace;
	font-weight: normal;
	color: #999;
}

a{
	color: #aaa;
	font-weight: bold;
}