*, .normalmouse{
	cursor: url("cursors/default.png") 0 0, default;
}

a, .hovermouse, a *{
	cursor: url("cursors/pointer.png") 6 0, pointer !important;
}

.waitmouse {
	cursor: url("/cursors/wait.png") 6 0, wait;
}

::selection, ::-moz-selection{
	color: #333;
	background: #999999fe;
}

::-webkit-scrollbar{
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track{
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background-color: #999;
	border: 3px black solid;
	border-radius: 6px;
	outline: none;
}

::-webkit-scrollbar-corner{
	background-color: transparent;
}

html,body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

	overflow-y: hidden;
	overflow-x: hidden;
}

body{
	background-color:black;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: unset;
	font-smoothing: unset;
	font-size: 1.5em;
	font-family: "FreeMono", "Courier New", monospace;
	font-weight: normal;
	color: #999;
}

a{
	color: #aaa;
	font-weight: bold;
}

#symbolo{
	opacity: 0.13;
	position: fixed;
	left: 10px;
	bottom: 10px;
	font-size: 0;
	z-index: -1000;
	mix-blend-mode: screen;
}

.symbl{
	margin-right: 5px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}