<%- include('../../../../../partials/header',{title:"countdown"}) %>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/02-00.png" height="68px"/>
		</div>
<%- include('../../../../../partials/footer') %>