canvas {
	position: absolute;
}

#gameContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
}

#full {
	background-color: black;
}

#progress
{
	display: flex;
	width: 150px;
	height: 10px;
	border: 5px black solid;
}